button
  cursor: pointer
  transition: color .2s ease, background .2s ease, border-color .2s ease
  border-color: $c-blue
  border-radius: $radius $radius
  color: $c-white
  background: $c-blue
  font-weight: 700
  // border: solid 2px lighten($c-blue, 8)
  border: solid 2px $c-blue
  &:hover, &:active, &:focus 
    outline: none
    border-color: $c-blue
    color: $c-blue
    background: $c-white

.btn--default
  padding: 5px 15px

.step--btn
  position: absolute
  bottom: 15px
  button
    text-transform: uppercase
    padding: 5px 10px
    width: 100%
    @include bpMax(600px)
      padding: 3px 7px
      // font-size: .8em
.step--btn_prev
  left: 0
  button 
    border-radius: 0 $radius $radius 0
    border-left: none
    &:hover
      border-left: none
.step--btn_next
  right: 0
  button 
    border-radius: $radius 0 0 $radius
    border-right: none
    &:hover, &:active, &:focus
      border-right: none


.btn--pdf
  text-transform: uppercase
  border-color: rgb(13, 152, 188) 
  background-color: rgb(13, 152, 188)
  padding: 10px 17px
  font-size: 1em
  &:hover 
    border-color: rgb(13, 152, 188) 
    color: rgb(13, 152, 188) 
  @include bpMax(600px)
    font-size: .8em
    padding: 8px 15px
    margin-top: 25px
