.input--default
  border: none
  border-bottom: solid 1px $c-blue
  width: 80%
  font-family: $font-family-body
  font-size: 1em
  // font-weight: 700
  min-height: 16px
  padding: 4px
  outline: none
placeholder
  text-align: center
::-webkit-input-placeholder
  text-align: center
:-moz-placeholder 
  text-align: center
::-moz-placeholder 
  text-align: center
:-ms-input-placeholder 
  text-align: center
 




.step--connect .input--default
  margin-bottom: 2rem
