.site--footer
  position: fixed
  bottom: 1rem
  left: 1rem
  color: lighten($c-blue, 7)
  transition: color .2s ease
  &:hover
    color: lighten($c-blue, 25)
  @include bpMax(600px)
    ul 
      font-size: .65em 

